<div class="headline-container">
    <h2>Kanban Project Management Tool</h2>
</div>
<div id="headerPicturesContainer" class="header-pictures-container">
    <a href="help.html" class="header-picure-help">
</a>
    <img class="header-picture-logo" src="img\header\Capa 1.png" alt="">
    <div class="initials-header-user" onclick="openHeaderMenu()" id="userLoginInitials"></div>
</div>
<div id="headerMenu" onclick="closeHeaderMenu()"  class="headerMenuContainer displayNone">
    <div  class="headerMenu">
        <a href="legalnotice.html">Legal Notice</a>
        <a href="privacypolicy.html">Privacy Policy</a>
        <a href="log-in.html">Log out</a>
    </div>
</div>