<div class="sidebarHeader">
    <img class="sidebarLogo" src="img\sidebar\joinLogoWhite.png" alt="">
    <div id="sidebarMenuContainer" class="sidebarMenuContainer">
        <a id="summery" href="summary.html" class="sidebarMenuButton">
            <div class="sidebarButton">
                <div id="iconSummery"></div>
                <p>Summary</p>
            </div>
        </a>
        <a id="addTask" href="add_task.html" class="sidebarMenuButton">
            <div class="sidebarButton">
                <div id="iconAddTask"></div>
                <p>Add Task</p>
            </div>
        </a>
        <a id="board" href="board.html" class="sidebarMenuButton">
            <div class="sidebarButton">
                <div id="iconBoard"></div>
                <p>Board</p>
            </div>
        </a>
        <a id="contacts" href="contacts.html" class="sidebarMenuButton">
            <div class="sidebarButton">
                <div id="iconContacts"></div>
                <p>Contacts</p>
            </div>
        </a>
    </div>
</div>

<div class="sidebarFooter">
    <a id="privacyPolicy" href="privacypolicy.html">Privacy Police</a>
    <a id="legalNotice" href="legalnotice.html">Legal notice</a>
</div>